In [42]:
import psycopg2 as pg
import pandas as pd
import numpy as np

In [43]:
# Connect to the database
# conn = pg.connect(host="dssgsummer2014postgres.c5faqozfo86k.us-west-2.rds.amazonaws.com", dbname="training_2015", user="stepner", password="stepner")
# cur = conn.cursor()
# cur.execute("CREATE TABLE mstepner.test (id serial PRIMARY KEY, num integer, data varchar);")

In [44]:
# conn.commit()

In [45]:
# Load CLEANED data from CSV
df = pd.read_csv("../data/Building_Violations_sample_50000_clean.csv")

In [46]:
properties = df.groupby(['longitude','latitude'])

In [47]:
properties.count().shape

(34650, 20)

In [48]:
df.dtypes

Unnamed: 0                        int64
id                                int64
violation_last_modified_date     object
violation_date                   object
violation_code                   object
violation_status                 object
violation_status_date            object
violation_description            object
violation_location               object
violation_inspector_comments     object
violation_ordinance              object
inspector_id                     object
inspection_number                 int64
inspection_status                object
inspection_waived                object
inspection_category              object
department_bureau                object
address                          object
property_group                    int64
latitude                        float64
longitude                       float64
location                         object
dtype: object

In [49]:
df['inspection_failed']=(df.inspection_status=='FAILED')

In [50]:
df.dtypes

Unnamed: 0                        int64
id                                int64
violation_last_modified_date     object
violation_date                   object
violation_code                   object
violation_status                 object
violation_status_date            object
violation_description            object
violation_location               object
violation_inspector_comments     object
violation_ordinance              object
inspector_id                     object
inspection_number                 int64
inspection_status                object
inspection_waived                object
inspection_category              object
department_bureau                object
address                          object
property_group                    int64
latitude                        float64
longitude                       float64
location                         object
inspection_failed                  bool
dtype: object

In [51]:
df_features = pd.DataFrame()

In [52]:
df_features['failed_inspections'] = properties.inspection_failed.sum()
df_features['total_inspections'] = properties.inspection_failed.count()
df_features['failure_rate'] = df_features['failed_inspections'] / df_features['total_inspections']

In [53]:
df_features

                      failed_inspections  total_inspections  failure_rate
longitude  latitude
-87.914436 42.008756                   0                  4          0.00
-87.914428 42.008536                   8                 16          0.50
-87.911192 41.953057                   1                  1          1.00
-87.894213 41.953372                   1                  1          1.00
-87.846381 41.972205                   3                  4          0.75
-87.846379 41.972317                   1                  1          1.00
-87.846347 41.974799                   0                  1          0.00
-87.846320 41.977955                   3                  3          1.00
-87.846316 41.978307                   6                  6          1.00
-87.846309 41.978658                   1                  2          0.50
-87.846301 41.979010                   1                  1          1.00
-87.845729 41.963955                   1                  1          1.00
-87.845517 41.975188                   2                  2          1.00
-87.845347 41.974198                   1                  1          1.00
-87.845080 41.987526                   1                  1          1.00
-87.845072 41.980855                   1                  1          1.00
-87.845057 41.973788                   1                  1          1.00
-87.844638 41.975881                   1                  1          1.00
-87.843838 41.974219                   1                  1          1.00
-87.842825 41.987190                   0                  1          0.00
-87.842708 41.975239                   1                  1          1.00
-87.842648 41.976137                   2                  2          1.00
-87.842621 41.974591                   2                  2          1.00
-87.842203 41.975247                   1                  1          1.00
-87.841783 41.980912                   1                  1          1.00
-87.841776 41.976757                   1                  1          1.00
-87.841689 41.976533                   0                  1          0.00
-87.841587 41.962046                   0                  1          0.00
-87.841104 41.978432                   1                  1          1.00
-87.840863 41.980248                   0                  1          0.00
...                                  ...                ...           ...
-87.533012 41.718048                   2                  2          1.00
           41.699969                   1                  1          1.00
-87.532724 41.706239                   0                  1          0.00
           41.707303                   0                  1          0.00
-87.532721 41.698267                   1                  1          1.00
-87.532720 41.698154                   2                  2          1.00
           41.702518                   1                  1          1.00
           41.702462                   1                  1          1.00
-87.532719 41.700648                   1                  1          1.00
-87.532717 41.699235                   1                  1          1.00
-87.532714 41.715274                   0                  1          0.00
-87.531805 41.706705                   1                  1          1.00
-87.531804 41.700642                   0                  1          0.00
           41.705214                   1                  1          1.00
           41.705100                   1                  1          1.00
-87.531522 41.689636                   1                  1          1.00
-87.531511 41.705897                   1                  1          1.00
-87.530598 41.707053                   0                  1          0.00
-87.530306 41.706765                   0                  1          0.00
-87.530305 41.704343                   1                  1          1.00
-87.529390 41.701486                   1                  1          1.00
           41.701430                   1                  1          1.00
-87.529389 41.697554                   1                  1          1.00
-87.529291 41.707077                   1                  1          1.00
-87.527126 41.699993                   1                  1          1.00
-87.527124 41.700164                   3                  4          0.75
-87.527123 41.700277                   1                  1          1.00
-87.527113 41.701532                   2                  2          1.00
-87.525914 41.699521                   0                  1          0.00
-87.525898 41.701752                   1                  1          1.00

[34650 rows x 3 columns]