## Working with Benedikt and Mahdi

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/Building_Violations_sample_50000.csv")

/Users/michael/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1159: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
df.head(3)

,Unnamed: 0,ID,VIOLATION LAST MODIFIED DATE,VIOLATION DATE,VIOLATION CODE,VIOLATION STATUS,VIOLATION STATUS DATE,VIOLATION DESCRIPTION,VIOLATION LOCATION,VIOLATION INSPECTOR COMMENTS,...,INSPECTION STATUS,INSPECTION WAIVED,INSPECTION CATEGORY,DEPARTMENT BUREAU,ADDRESS,PROPERTY GROUP,SSA,LATITUDE,LONGITUDE,LOCATION
0,0,5063843,05/21/2015,05/21/2015,CN065014,OPEN,NaN,REPAIR LINTELS,OTHER : :,LINTELS; RUSTED.,...,FAILED,N,COMPLAINT,CONSERVATION,722 E 89TH ST,461523,51,41.733089,-87.606184,"(41.73308939713441,-87.60618433527188)"
1,1,5063990,05/21/2015,05/21/2015,CN044013,OPEN,NaN,PIPE OPENING W/NONCOMBUST MATL,OTHER : :MULTIPLE FLOORS,"OPENINGS AROUND PIPES, SEAL WITH APPROVED MATE...",...,FAILED,N,PERIODIC,CONSERVATION,6444 S DR MARTIN L KING JR DR,19575,NaN,41.777088,-87.615694,"(41.77708792596553,-87.61569442972947)"
2,2,5064022,05/21/2015,05/21/2015,CN104035,OPEN,NaN,MAINTAIN WINDOW,OTHER : :,"ALL ELEVATIONS , WOOD WINDOW FRAMES AND NORTH...",...,FAILED,N,COMPLAINT,CONSERVATION,3115 N SAWYER AVE,117375,NaN,41.937995,-87.708657,"(41.93799454179893,-87.70865671096144)"

In [4]:
df.tail(5)

,Unnamed: 0,ID,VIOLATION LAST MODIFIED DATE,VIOLATION DATE,VIOLATION CODE,VIOLATION STATUS,VIOLATION STATUS DATE,VIOLATION DESCRIPTION,VIOLATION LOCATION,VIOLATION INSPECTOR COMMENTS,...,INSPECTION STATUS,INSPECTION WAIVED,INSPECTION CATEGORY,DEPARTMENT BUREAU,ADDRESS,PROPERTY GROUP,SSA,LATITUDE,LONGITUDE,LOCATION
49995,49995,1438713,06/16/2006,01/01/2006,CN063014,OPEN,NaN,CHIMNEY,NaN,CHIMNEY WASHED OUT MORTAR LOOSE BRICKS.,...,FAILED,N,PERIODIC,CONSERVATION,1854 E 79TH ST,20597,50,41.751683,-87.578659,"(41.75168267214598,-87.57865870399478)"
49996,49996,1357061,07/17/2006,01/01/2006,CN070024,OPEN,NaN,REPAIR PORCH SYSTEM,NaN,"35 REAR PORCH GRADE TO 3RD RAILS TOO SHORT, MI...",...,FAILED,N,PERIODIC,CONSERVATION,31 N LOREL AVE,1612,NaN,41.881299,-87.758621,"(41.881299199557894,-87.75862053499047)"
49997,49997,1430847,10/14/2008,01/01/2006,CN031013,COMPLIED,07/10/2008,"FIRE EXTNGSHR REQ, RESDNTL",NaN,ALL ELEVATION MISSING FIRE EXTINGUISHER,...,FAILED,N,PERIODIC,CONSERVATION,6501 S LOWE AVE,19693,NaN,41.776074,-87.640625,"(41.7760739361563,-87.64062455203374)"
49998,49998,1734149,09/16/2008,01/01/2006,CN135016,COMPLIED,09/05/2008,MICE/RODENTS,NaN,MICE ON PREMISES,...,FAILED,N,PERIODIC,CONSERVATION,4836 S INDIANA AVE,18261,NaN,41.806381,-87.621283,"(41.80638088214982,-87.62128295874425)"
49999,49999,1834762,01/12/2007,01/01/2006,CN190019,COMPLIED,01/11/2007,ARRANGE PREMISE INSPECTION,NaN,NO ENTRY TO INTERIOR TO VERIFY OCCUPANCY AND D...,...,FAILED,N,PERIODIC,CONSERVATION,200 N KOSTNER AVE,1531,NaN,41.883310,-87.735709,"(41.88330951242491,-87.73570901056128)"

In [6]:
df.drop?

In [7]:
del df['Unnamed: 0']

In [8]:
df.dtypes

ID                                int64
VIOLATION LAST MODIFIED DATE     object
VIOLATION DATE                   object
VIOLATION CODE                   object
VIOLATION STATUS                 object
VIOLATION STATUS DATE            object
VIOLATION DESCRIPTION            object
VIOLATION LOCATION               object
VIOLATION INSPECTOR COMMENTS     object
VIOLATION ORDINANCE              object
INSPECTOR ID                     object
INSPECTION NUMBER                 int64
INSPECTION STATUS                object
INSPECTION WAIVED                object
INSPECTION CATEGORY              object
DEPARTMENT BUREAU                object
ADDRESS                          object
PROPERTY GROUP                    int64
SSA                              object
LATITUDE                        float64
LONGITUDE                       float64
LOCATION                         object
dtype: object

In [11]:
import re

def spaces_to_snake(str_with_spaces):
    s = re.sub('\s+','_',str_with_spaces)
    return s.lower()

df.columns = [spaces_to_snake(col) for col in df.columns]
df.columns

Index([u'id', u'violation_last_modified_date', u'violation_date', u'violation_code', u'violation_status', u'violation_status_date', u'violation_description', u'violation_location', u'violation_inspector_comments', u'violation_ordinance', u'inspector_id', u'inspection_number', u'inspection_status', u'inspection_waived', u'inspection_category', u'department_bureau', u'address', u'property_group', u'ssa', u'latitude', u'longitude', u'location'], dtype='object')

In [12]:
df.dropna?

In [17]:
pd.value_counts(df.id.isnull())

False    50000
dtype: int64

In [19]:
df.isnull().sum(axis=0)

id                                  0
violation_last_modified_date        0
violation_date                      0
violation_code                      0
violation_status                    0
violation_status_date           36488
violation_description             376
violation_location              32484
violation_inspector_comments     5295
violation_ordinance              1538
inspector_id                        0
inspection_number                   0
inspection_status                   0
inspection_waived                   0
inspection_category                 0
department_bureau                   0
address                             0
property_group                      0
ssa                             40639
latitude                           48
longitude                          48
location                           48
dtype: int64

In [21]:
df.ssa

0      51
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
...
49985     26
49986     21
49987     18
49988     48
49989    NaN
49990    NaN
49991    NaN
49992    NaN
49993    NaN
49994     43
49995     50
49996    NaN
49997    NaN
49998    NaN
49999    NaN
Name: ssa, Length: 50000, dtype: object

In [24]:
df.violation_inspector_comments = df.violation_inspector_comments.fillna('No Comment')

In [25]:
df.isnull().sum(axis=0)

id                                  0
violation_last_modified_date        0
violation_date                      0
violation_code                      0
violation_status                    0
violation_status_date           36488
violation_description             376
violation_location              32484
violation_inspector_comments        0
violation_ordinance              1538
inspector_id                        0
inspection_number                   0
inspection_status                   0
inspection_waived                   0
inspection_category                 0
department_bureau                   0
address                             0
property_group                      0
ssa                             40639
latitude                           48
longitude                          48
location                           48
dtype: int64

In [26]:
df.head(5)

,id,violation_last_modified_date,violation_date,violation_code,violation_status,violation_status_date,violation_description,violation_location,violation_inspector_comments,violation_ordinance,...,inspection_status,inspection_waived,inspection_category,department_bureau,address,property_group,ssa,latitude,longitude,location
0,5063843,05/21/2015,05/21/2015,CN065014,OPEN,NaN,REPAIR LINTELS,OTHER : :,LINTELS; RUSTED.,Failed to maintain lintel in good repair and f...,...,FAILED,N,COMPLAINT,CONSERVATION,722 E 89TH ST,461523,51,41.733089,-87.606184,"(41.73308939713441,-87.60618433527188)"
1,5063990,05/21/2015,05/21/2015,CN044013,OPEN,NaN,PIPE OPENING W/NONCOMBUST MATL,OTHER : :MULTIPLE FLOORS,"OPENINGS AROUND PIPES, SEAL WITH APPROVED MATE...",Failed to fill openings around exposed pipes o...,...,FAILED,N,PERIODIC,CONSERVATION,6444 S DR MARTIN L KING JR DR,19575,NaN,41.777088,-87.615694,"(41.77708792596553,-87.61569442972947)"
2,5064022,05/21/2015,05/21/2015,CN104035,OPEN,NaN,MAINTAIN WINDOW,OTHER : :,"ALL ELEVATIONS , WOOD WINDOW FRAMES AND NORTH...",Failed to maintain windows in sound condition ...,...,FAILED,N,COMPLAINT,CONSERVATION,3115 N SAWYER AVE,117375,NaN,41.937995,-87.708657,"(41.93799454179893,-87.70865671096144)"
3,5064019,05/21/2015,05/21/2015,CN196029,OPEN,NaN,POST OWNER/MANAGERS NAME/#,OTHER : :,BUILDING - NO OWNER'S I.D. SIGN POSTED .,"Post name, address, and telephone of owner, ow...",...,FAILED,N,COMPLAINT,CONSERVATION,3115 N SAWYER AVE,117375,NaN,41.937995,-87.708657,"(41.93799454179893,-87.70865671096144)"
4,5064139,05/21/2015,05/21/2015,CN104015,OPEN,NaN,"REPLCE WINDOW PANES, PLEXGLAS",OTHER : :,NORTH ELEVATION / 1ST FLOOR - BROKEN WINDOW PANE.,"Replace broken, missing or defective window pa...",...,FAILED,N,COMPLAINT,CONSERVATION,5649 S INDIANA AVE,344254,NaN,41.791470,-87.620616,"(41.791469839262206,-87.62061589476306)"

In [27]:
df.violation_date = pd.to_datetime(df.violation_date)

In [35]:
df.dtypes

id                                       int64
violation_last_modified_date            object
violation_date                  datetime64[ns]
violation_code                          object
violation_status                        object
violation_status_date           datetime64[ns]
violation_description                   object
violation_location                      object
violation_inspector_comments            object
violation_ordinance                     object
inspector_id                            object
inspection_number                        int64
inspection_status                       object
inspection_waived                       object
inspection_category                     object
department_bureau                       object
address                                 object
property_group                           int64
ssa                                     object
latitude                               float64
longitude                              float64
location                                object
dtype: object

In [29]:
df = df.sort(['violation_date'],)

In [31]:
df.violation_status_date = pd.to_datetime(df.violation_status_date)

In [42]:
df.violation_last_modified_date = pd.to_datetime(df.violation_last_modified_date)

In [37]:
df.violation_date.describe()

count                   50000
unique                   2621
top       2006-03-10 00:00:00
freq                       66
first     2006-01-01 00:00:00
last      2015-05-21 00:00:00
Name: violation_date, dtype: object

In [38]:
df.datediff = df.violation_status_date - df.violation_date

In [39]:
df.datediff.describe()

count                       13512
mean     -6 days +17:23:23.743984
std      516 days 05:32:37.344925
min               0 days 00:00:00
25%             150 days 00:00:00
50%             272 days 00:00:00
75%             586 days 00:00:00
max            3328 days 00:00:00
dtype: object

In [41]:
df.datediff

49999    375 days
49990   1166 days
49991   1409 days
49992    528 days
49993   1409 days
49998    978 days
49995         NaT
49996         NaT
49997    921 days
49994   2126 days
49961         NaT
49960     53 days
49959         NaT
49958    291 days
49957         NaT
...
20   NaT
21   NaT
17   NaT
1    NaT
2    NaT
3    NaT
4    NaT
5    NaT
7    NaT
8    NaT
9    NaT
10   NaT
11   NaT
6    NaT
0    NaT
Length: 50000, dtype: timedelta64[ns]

In [46]:
df['violation_last_modified_date' 'violation_date']

KeyError: 'violation_last_modified_dateviolation_date'